@media (min-width: 320px) {
    .iframe {
        max-width: 320px;
        min-height: 1024px;
        border: 0;
    }
}

@media (min-width: 375px) {
    .iframe {
        min-width: 375px;
        min-height: 1024px;
        border: 0;
    }
}

@media (min-width: 480px) {
    .iframe {
        min-width: 480px;
        min-height: 1024px;
        border: 0;
    }
}

@media (min-width: 768px) {
    .iframe {
        min-width: 1024px;
        min-height: 1024px;
        border: 0;
    }
}

@media (min-width: 1440px) {
    .iframe {
        min-width: 1024px;
        min-height: 1024px;
        border: 0;
    }
}

@media (min-width: 1920px) {
    .iframe {
        min-width: 1024px;
        min-height: 1024px;
        border: 0;
    }
}


.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

